.text-primary {
  color: $--color-primary;
}
.text-danger {
  color: $--color-danger;
}
.text-info {
  color: $--color-info;
}
.text-warning {
  color: $--color-warning;
}
.text-success {
  color: $--color-success;
}